<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:aliceblue">Angular Crud</h1>
        
               <div class="d-flexx">
                    <button class="btn btn-success" (click)="openModal()">Add Employee</button>
                </div>
                <div class="d-flex">
                    <button class="btn btn-info"  (click)="signout()">SignOut</button>
                </div>
              
          

    </div>

</nav>

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employess">
            <td>{{emp.id}}</td>
            <td>{{emp.firstName}}</td>
            <td>{{emp.lastName}}<td>
            <td>{{emp.email}}</td>
            <td>{{emp.phone}}</td>
            <td>{{emp.salary}}</td>
            <td>
                <button class="btn btn-info" (click)="updateEmployee(emp)">Edit</button>
                <button  class="btn btn-danger mx-2"  (click)="deleteEmployee(emp)">Delete</button>
            </td>
        </tr>
        
          
    </tbody>
</table>

<!--Model code-->
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
         <div class="modal-dialog" role="document">
               <div class="modal-content">
                     <div class="modal-header">
                           <h4 class="modal-title">Employee Details</h4>
                           <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                         </div>
                <div class="modal-body">
                    <!--Form Controls-->
                    <form [formGroup]="formValues">
                        <div class="form-group">
                          <label for="firstName">First Name</label>
                          <input type="text" class="form-control" id="firstName" formControlName="firstName"  placeholder="Enter first name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter last name">
                        </div>
                        <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="phone" class="form-control" id="phone" formControlName="phone"  placeholder="Enter phone number">
                        </div>
                        <div class="form-group">
                                        <label for="salary">Salary</label>
                                        <input type="text" class="form-control" id="salary" formControlName="salary"  placeholder="Enter salary">
                         </div>
                       
                        
                      </form>
                           
                 </div>
                     <div class="modal-footer">
                           <button type="button" class="btn btn-default" (click)="onCloseHandled()"  id="cancel">Close</button>
                           <button type="submit" class="btn btn-primary"  (click)="postEmployee()" >Add</button>
                           <button type="submit" class="btn btn-primary"  id="cancel" (click)="updateEmployeDetail()" >Update</button>
                         </div>
            </div>
             </div>
 </div>
